h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 3.0rem;
  font-weight: 700;
  color: black;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.0rem;
  font-weight: 500;
  color: black;
}

h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: black;
  padding-bottom: 10px;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}

.main-content {
  padding: 15% 15%;
}

.flex-container-reverse {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.big-container-left {
  flex: 70%;
  padding: 10px;
  text-align: left;
}

.time-text {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  color: black;
}

.small-container-right {
  flex: 30%;
  padding: 10px;
  text-align: right;
}

.title-image {
  border-radius: 20px;
  width: 80%;
}

@media only screen and (max-width: 550px) and (min-width: 200px){
  .flex-container-reverse {
    flex-direction: column-reverse;
  }

  .big-container-left, .small-container-right {
    flex: 100%;
  }

  .small-container-right {
    text-align: center;
  }
}
