h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 3.0rem;
  font-weight: 700;
  color: black;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: black;
}

h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: black;
  font-style: italic;
  text-align: left;
}

h4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: black;
  font-style: italic;
  /* padding-bottom: 5px; */
  text-align: left;
}


p {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #404040;
}

body {
  background-color: #FAF9F6;
}

.main-content {
  padding: 5% 12%;
}

.big-container {
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  padding-bottom: 15px;
  text-align: left;
}

.time-text {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  color: black;
}

.pub-title {
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: black;  
}

.pub-details {
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  color: black;  
}

.teaching-details {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #404040; 
  text-align: left; 
}

.contact-info {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: #404040; 
  text-align: left; 
}

.rounded-corners {
  border-radius: 20px;
  height: 400px;
}


a.class1:link {
  text-decoration: none;
  color: green;
}

a.class1:visited {
  text-decoration: none;
  color: green;
}


a.class2:link {
  text-decoration: none;
  color: blue;
}

a.class2:visited {
  text-decoration: none;
  color: blue;
}

a.class3:link {
  color: blue;
  text-decoration: none;
  border-bottom: 2px solid blue; 
}

a.class3:visited {
  color: blue;
  text-decoration: none;
  border-bottom: 2px solid blue; 
}

a.class4:link {
  text-decoration: none;
  color: black;
}

a.class4:visited {
  text-decoration: none;
  color: black;
}

a.class5:link {
  text-decoration: none;
  color: cornflowerblue;
}

a.class5:visited {
  text-decoration: none;
  color: cornflowerblue;
}

@media only screen and (max-width: 550px) and (min-width: 200px){
  .big-container-left {
    flex: 100%;
  }

  .rounded-corners {
    height: 300px
  }

  h2 {
    font-size: 2rem;
  }

}
